.body{
    margin: 0;
    padding: 0;
    height: 100%;
}

 /*LOGOTIPO AJUSTE*/
 .navbar-brand img {
    height: 2.5em; 
    margin-right: 0.5em; 
    display: flex;
    justify-content: center;
}

.imgCenter {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.container-imagen {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura completa de la ventana del navegador */
   
}

.img-fluid {
    max-width: 100%; /* Máxima anchura de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 1em;
}