.body{
    margin: 0;
    padding: 0;
    height: 100%;
}

 /*LOGOTIPO AJUSTE*/
 .navbar-brand img {
    height: 2.5em; 
    margin-right: 0.5em; 
    display: flex;
    justify-content: center;
}

/* añadir a las demás hojas de estilo el ajuste de logotipo. */

/* cambiar color botones tarjetas pagina de inicio */

.btn-primary{
    background-color: black;
    border: 0;
}

.Elements{

    display:flex;

    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:2em;

}

